/* styles.css */

.action-bin {
    background-color: #812160;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* PAD styles */
.container-pad {
    width: 100px;
    height: 100px;
    display: flex;
    background-color: #c8c6ca;
    display: flex;
    align-items: center;
    border-radius: 50%;
}

.pad-btn {
    width: 35px;
    height: 35px;
    border-radius: 4px;
    background-color: pink;
}

.container-central {
    display: flex;
    flex-direction: column;
}

.screen {
    height: 200px;
    background-color: #9ca04c;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: scroll;
}

.container-screen {
    padding-top: 5%;
    padding-bottom: 25%;
    justify-content: center;
    display: flex;
}

.screen-text {
    width: 85%;
    height: 200px;
    background-color: rgb(155, 160, 76); /* color oliva pantalla */
}

/* Botones */
.buttons {
    width: 90px;
    height: 40px;
    display: flex;
    gap: 10px;
    transform: rotate(-20deg);
    background-color: rgb(128, 21, 95);
    border-radius: 100%;
}

.buttons-btn {
    background-color: rgb(128, 21, 95);
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.buttons-btn2 {
    background-color: rgb(128, 21, 95);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}